<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuizMaster - Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <a href="{{ url_for('logout') }}" class="logout">Logout</a>

    <h1>QuizMaster</h1>

    <h3>Welcome, {{ user }}</h3>

    <p style="text-align:center;">
        Select a subject to start the quiz.
    </p>

    <div class="subjects">

        {% for subject in subjects %}

        <div class="card">

            <h3>{{ subject }}</h3>

            <p>10 Multiple Choice Questions</p>

            <br>

            <a href="{{ url_for('quiz', subject=subject,level=level) }}">
                Start Quiz
            </a>

        </div>

        {% endfor %}

    </div>

</div>

</body>
</html>