<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>

<body class="register-body">

<div class="register-container">

    <div class="register-left">

        <div class="brand-logo">
            <i class="fas fa-lock"></i>
        </div>

        <h1>Reset Password</h1>

        <p>Create a new password for your account.</p>

    </div>

    <div class="register-card">

        <h2>New Password</h2>

        {% if error %}
        <div class="error-message">
            {{ error }}
        </div>
        {% endif %}

        <form method="POST">

            <div class="input-group-custom password-box">

                <i class="fas fa-lock"></i>

                <input
                    type="password"
                    id="newPassword"
                    name="password"
                    placeholder="New Password"
                    required>

                <i class="fas fa-eye toggle-password" id="togglePassword"></i>

            </div>

            <div class="input-group-custom password-box">

                <i class="fas fa-lock"></i>

                <input
                    type="password"
                    id="confirmPassword"
                    name="confirm_password"
                    placeholder="Confirm Password"
                    required>

                <i class="fas fa-eye toggle-confirm" id="toggleConfirm"></i>

            </div>

            <button type="submit" class="login-button">
                Reset Password
            </button>

        </form>

    </div>

</div>

<script>

const password=document.getElementById("newPassword");
const togglePassword=document.getElementById("togglePassword");

togglePassword.onclick=function(){

if(password.type==="password"){
password.type="text";
this.classList.replace("fa-eye","fa-eye-slash");
}
else{
password.type="password";
this.classList.replace("fa-eye-slash","fa-eye");
}

}

const confirm=document.getElementById("confirmPassword");
const toggleConfirm=document.getElementById("toggleConfirm");

toggleConfirm.onclick=function(){

if(confirm.type==="password"){
confirm.type="text";
this.classList.replace("fa-eye","fa-eye-slash");
}
else{
confirm.type="password";
this.classList.replace("fa-eye-slash","fa-eye");
}

}

</script>

</body>
</html>